html {
    color: #cccccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.menu {
	background-color: #3B3E42;
	outline-color: #6D6F6E;
}

#top_div {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 28px;
}

#border_div {
	position: absolute;
	top: 1024px;
	left: 0px;
	width: 1920px;
	height: 28px;
}

#bottom_div {
	position: absolute;
	top: 1052px;
	left: 0px;
	width: 1920px;
	height: 28px;
}